.product-grid-container {
    display: flex;
    justify-content: center; 
    padding: 16px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    max-width: 1400px;
    width: 100%;
    margin: 5rem auto;
  }
  
  .product-card-container {
    width: 100%;
  }
  
  @media (max-width: 1500px) {
    .product-grid{
        gap: 15px;
        max-width: calc(1200px- 90px);
       
    }
  }


  .header {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as per your need */
    background-image: url('src/assets/photos/WARDROBES/6.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-stripe {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); /* Center the stripe vertically */
    width: 100%;
    height: 200px; /* Increased height of the white stripe */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .text-cutout {
    font-size: 120px; /* Increased the font size */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-image: url('src/assets/photos/WARDROBES/6.jpeg'); /* Use the same background image */
    background-size: cover;
    background-position: center;
    height: 100%; /* Ensure the text fills the height of the white stripe */
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -3px;
  }
  
  /* Responsive styles */
  
  /* Tablets and medium screens */
  @media (max-width: 768px) {
    .header {
      height: 300px; /* Adjust header height for medium screens */
    }
  
    .center-stripe {
      height: 150px; /* Adjusted stripe height */
    }
  
    .text-cutout {
      font-size: 80px; /* Adjust font size for medium screens */
    }
  }
  
  /* Mobile devices */
  @media (max-width: 480px) {
    .header {
      height: 250px; /* Adjust header height for small screens */
    }
  
    .center-stripe {
      height: 120px; 
    }
  
    .text-cutout {
      font-size: 50px; 
      letter-spacing: -2px;
    }
  }
  