/* .faq-section {
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .question h3 {
    margin: 0;
  }
  
  .question button {
    background: none;
    border: none;
    font-size: 18px;
  }
  
  .answer {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .faq-item h3 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-item .answer {
    padding: 10px 0;
  }
  
  .faq-divider {
    margin: 15px 0;
    border: 1px solid #ccc;
  }
  
   */

   .faq-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
  }
  
  .faq-item {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .faq-item:last-child {
    border-bottom: none;
  }
  
  .faq-item h3 {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    padding: 20px;
    margin: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .faq-item h3:hover {
    background-color: #e0e0e0;
  }
  
  .faq-item h3 .icon {
    font-size: 1.2rem;
    transition: transform 0.3s ease;
  }
  
  .faq-item h3 .expanded-icon {
    transform: rotate(45deg); /* Rotate to indicate expanded state */
  }
  
  .faq-item h3 .collapsed-icon {
    transform: rotate(0deg);
  }
  
  .faq-item .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    padding: 0 20px;
    background-color: #ffffff;
  }
  
  .faq-item .answer p {
    margin: 15px 0;
    padding: 0;
  }
  
  .faq-item.expanded .answer {
    max-height: 300px; /* Adjust this value as per your content's length */
  }
  
  .faq-divider {
    margin: 0;
    border: none;
    border-top: 1px solid #e0e0e0;
  }
  